<a href="https://colab.research.google.com/github/Coder-twhjr/Pulsar-Star-Prediction/blob/main/PulsarStarPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Predicting A Pulsar Star

### Overview 

[Pulse stars](https://www.youtube.com/watch?v=gjLk_72V9Bw) are a rare type of [Neutron stars](https://www.youtube.com/watch?v=hCwDNXKlN8Q) that produce radio emissions detectable on Earth. They are of considerable scientific interest as probes of space-time, the interstellar medium, and states of matter.

You can learn more about the Pulsar and neutron star by watching this [video](https://www.youtube.com/watch?v=RrMvUL8HFlM).

As pulsars rotate, their emission beam sweeps across the sky, and when this crosses our line of sight, it produces a detectable pattern of broadband radio emission. 

<img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lightcurve_pulsar.gif'>

Each pulsar produces a slightly different emission pattern, which varies slightly with each rotation. Thus a potential signal detection known as a 'candidate', is averaged over many rotations of the pulsar, as determined by the length of observation.

Machine learning tools are now being used to automatically label pulsar candidates to facilitate rapid analysis. The classification algorithms, in particular, are being widely adopted, which treat the candidate datasets as binary classification problems (predict either `0` or `1`). Here, the legitimate pulsar examples are a minority positive class (less in numbers), and the remaining examples are a majority negative class.

The class labels used are `0` (negative class) and `1` (positive class). Hence, **we need to deploy the XGBoost Classifier classification model which can accurately detect the class 1 examples.**

---

### Attribute Information

Each candidate is described by 8 continuous variables and a single class variable. The first four are simple statistics obtained from the integrated pulse profile (folded profile). This is an array of continuous variables that describe a longitude-resolved version of the signal that has been averaged in both time and frequency. The remaining four variables are similarly obtained from the DM-SNR curve. These 8 variables are summarised below:

1. The mean of the integrated profile.

2. The standard deviation of the integrated profile.

3. Excess kurtosis of the integrated profile.

4. The skewness of the integrated profile.

5. The mean of the DM-SNR curve.

6. The standard deviation of the DM-SNR curve.

7. Excess kurtosis of the DM-SNR curve.

8. The skewness of the DM-SNR curve.

Source: https://archive.ics.uci.edu/ml/datasets/HTRU2

**Courtesy**

Dr Robert Lyon

School of Physics and Astronomy, United Kingdom.

robert.lyon@manchester.ac.uk

---

### Project Requirements

1. Create a pandas DataFrame for both the train and test datasets.

2. Count the number of `0` and `1` classes in the training dataset.

3. Separate the feature variables, i.e, `x_train` and `x_test` from both the DataFrames.

4. Separate the target variable, i.e, `y_train` and `y_test` from both the DataFrames.

5. Apply the `XGBClassifier` machine learning model to predict the `0` and `1` classes in the test dataset, i.e, `x_test`.

6. Print the confusion matrix and the classification report to evaluate your prediction model. Also, based on the confusion matrix, precision, recall and f1-score values, report whether the prediction model deployed by you is making accurate predictions or not.

---

#### 1. Create The DataFrames

In [1]:
import pandas as pd
# Train dataset link: 'https://s3-student-datasets-bucket.whjr.online/whitehat-ds-datasets/project-5/pulsar-star-prediction-train.csv'
train_df = pd.read_csv('https://s3-student-datasets-bucket.whjr.online/whitehat-ds-datasets/project-5/pulsar-star-prediction-train.csv')
# Test dataset link: 'https://s3-student-datasets-bucket.whjr.online/whitehat-ds-datasets/project-5/pulsar-star-prediction-test.csv'
test_df = pd.read_csv('https://s3-student-datasets-bucket.whjr.online/whitehat-ds-datasets/project-5/pulsar-star-prediction-test.csv')

---

#### 2. Display First Five Rows

In [2]:
train_df.head()

,target_class,Mean of the integrated profile,Standard deviation of the integrated profile,Excess kurtosis of the integrated profile,Skewness of the integrated profile,Mean of the DM-SNR curve,Standard deviation of the DM-SNR curve,Excess kurtosis of the DM-SNR curve,Skewness of the DM-SNR curve
0,0,111.109375,53.131064,0.280253,-0.222447,3.011706,20.355820,7.585482,62.383270
1,0,151.945312,47.973350,-0.250834,0.275367,2.115385,14.195484,11.640297,173.592172
2,1,52.335938,34.775008,2.478375,10.179171,8.230769,34.775947,4.652342,21.987882
3,0,121.562500,48.569498,-0.033391,-0.323514,2.595318,15.089924,8.734079,98.584122
4,0,133.664062,59.137852,-0.164198,-0.552877,1.542642,12.052034,12.226623,196.522501

In [3]:
test_df.head()

,target_class,Mean of the integrated profile,Standard deviation of the integrated profile,Excess kurtosis of the integrated profile,Skewness of the integrated profile,Mean of the DM-SNR curve,Standard deviation of the DM-SNR curve,Excess kurtosis of the DM-SNR curve,Skewness of the DM-SNR curve
0,0,116.906250,48.920605,0.186046,-0.129815,3.037625,17.737102,8.122621,78.813405
1,1,75.585938,34.386254,2.025498,8.652913,3.765050,21.897049,7.048189,55.878791
2,0,103.273438,46.996628,0.504295,0.821088,2.244983,15.622566,9.330498,105.134941
3,1,101.078125,48.587487,1.011427,1.151870,81.887960,81.464136,0.485105,-1.117904
4,0,113.226562,48.608804,0.291538,0.292120,6.291806,26.585056,4.540138,21.708268

---

#### 3. Display Last Five Rows

In [4]:
train_df.tail()

,target_class,Mean of the integrated profile,Standard deviation of the integrated profile,Excess kurtosis of the integrated profile,Skewness of the integrated profile,Mean of the DM-SNR curve,Standard deviation of the DM-SNR curve,Excess kurtosis of the DM-SNR curve,Skewness of the DM-SNR curve
11986,0,124.312500,53.179053,-0.012418,-0.556021,7.186455,29.308266,4.531382,21.725143
11987,0,115.617188,46.784600,0.218177,0.226757,6.140468,30.271961,5.732201,34.357283
11988,0,116.031250,43.213846,0.663456,0.433088,0.785117,11.628149,17.055215,312.204325
11989,0,135.664062,49.933749,-0.089940,-0.226726,3.859532,21.501505,7.398395,62.334018
11990,0,120.726562,50.472256,0.346178,0.184797,0.769231,11.792603,17.662222,329.548016

In [5]:
test_df.head()

,target_class,Mean of the integrated profile,Standard deviation of the integrated profile,Excess kurtosis of the integrated profile,Skewness of the integrated profile,Mean of the DM-SNR curve,Standard deviation of the DM-SNR curve,Excess kurtosis of the DM-SNR curve,Skewness of the DM-SNR curve
0,0,116.906250,48.920605,0.186046,-0.129815,3.037625,17.737102,8.122621,78.813405
1,1,75.585938,34.386254,2.025498,8.652913,3.765050,21.897049,7.048189,55.878791
2,0,103.273438,46.996628,0.504295,0.821088,2.244983,15.622566,9.330498,105.134941
3,1,101.078125,48.587487,1.011427,1.151870,81.887960,81.464136,0.485105,-1.117904
4,0,113.226562,48.608804,0.291538,0.292120,6.291806,26.585056,4.540138,21.708268

---

#### 4. Rows & Columns In Train DataFrame

In [6]:
print(train_df.shape)
print(test_df.shape)

(11991, 9)
(5907, 9)

---

#### 5. Check For Missing Values

In [7]:
train_df.isnull().sum()

target_class                                     0
 Mean of the integrated profile                  0
 Standard deviation of the integrated profile    0
 Excess kurtosis of the integrated profile       0
 Skewness of the integrated profile              0
 Mean of the DM-SNR curve                        0
 Standard deviation of the DM-SNR curve          0
 Excess kurtosis of the DM-SNR curve             0
 Skewness of the DM-SNR curve                    0
dtype: int64

In [8]:
test_df.isnull().sum()

target_class                                     0
 Mean of the integrated profile                  0
 Standard deviation of the integrated profile    0
 Excess kurtosis of the integrated profile       0
 Skewness of the integrated profile              0
 Mean of the DM-SNR curve                        0
 Standard deviation of the DM-SNR curve          0
 Excess kurtosis of the DM-SNR curve             0
 Skewness of the DM-SNR curve                    0
dtype: int64

---

#### 6. Count The `0` & `1` Classes

In [9]:
train_df['target_class'].value_counts()

0    10878
1     1113
Name: target_class, dtype: int64

In [10]:
test_df['target_class'].value_counts()

0    5381
1     526
Name: target_class, dtype: int64

---

#### 7. Feature Variables Extraction

In [11]:
x_train = train_df.iloc[:, 1:]
x_train.head()

,Mean of the integrated profile,Standard deviation of the integrated profile,Excess kurtosis of the integrated profile,Skewness of the integrated profile,Mean of the DM-SNR curve,Standard deviation of the DM-SNR curve,Excess kurtosis of the DM-SNR curve,Skewness of the DM-SNR curve
0,111.109375,53.131064,0.280253,-0.222447,3.011706,20.355820,7.585482,62.383270
1,151.945312,47.973350,-0.250834,0.275367,2.115385,14.195484,11.640297,173.592172
2,52.335938,34.775008,2.478375,10.179171,8.230769,34.775947,4.652342,21.987882
3,121.562500,48.569498,-0.033391,-0.323514,2.595318,15.089924,8.734079,98.584122
4,133.664062,59.137852,-0.164198,-0.552877,1.542642,12.052034,12.226623,196.522501

In [12]:
x_test = test_df.iloc[:, 1:]
x_test.head()

,Mean of the integrated profile,Standard deviation of the integrated profile,Excess kurtosis of the integrated profile,Skewness of the integrated profile,Mean of the DM-SNR curve,Standard deviation of the DM-SNR curve,Excess kurtosis of the DM-SNR curve,Skewness of the DM-SNR curve
0,116.906250,48.920605,0.186046,-0.129815,3.037625,17.737102,8.122621,78.813405
1,75.585938,34.386254,2.025498,8.652913,3.765050,21.897049,7.048189,55.878791
2,103.273438,46.996628,0.504295,0.821088,2.244983,15.622566,9.330498,105.134941
3,101.078125,48.587487,1.011427,1.151870,81.887960,81.464136,0.485105,-1.117904
4,113.226562,48.608804,0.291538,0.292120,6.291806,26.585056,4.540138,21.708268

---

#### 8. Target Variable Extraction

In [13]:
y_train = train_df['target_class']
y_train.head()

0    0
1    0
2    1
3    0
4    0
Name: target_class, dtype: int64

In [14]:
y_test = test_df['target_class']
y_test.head()

0    0
1    1
2    0
3    1
4    0
Name: target_class, dtype: int64

---

#### 9. Building An XGBoost Classifier Model

In [15]:
import xgboost as xg
from sklearn.metrics import confusion_matrix, classification_report

xgb_clf = xg.XGBClassifier()

xgb_clf.fit(x_train, y_train)

XGBClassifier()

In [16]:
y_pred = xgb_clf.predict(x_test)
print(y_pred)

[0 1 0 ... 0 0 0]

---

#### 10. Confusion Matrix & Classification Report

In [17]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[5348,   33],
       [  82,  444]])

In [18]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      0.99      0.99      5381
           1       0.93      0.84      0.89       526

    accuracy                           0.98      5907
   macro avg       0.96      0.92      0.94      5907
weighted avg       0.98      0.98      0.98      5907


- Interpretation 1: All the three parameters, i.e., `precision, recall` and `f1-score` values are very close to `1`. This means the prediction model is very accurate and it can be used to make predictions on a new dataset.

---